<script>
	import {createEventDispatcher} from 'svelte'
	const dispatch = createEventDispatcher()
	export let placeholder=''
	export let value=''
	export let delay = 200
	let delayer
</script>
<style>
	input{
		box-sizing: border-box; /*fixes inputs being bigger than their parents*/
		text-align: center;
		padding: 0.5em;
		border-radius: 0.4em;
		border: none;
	}
	input:focus{
		outline: none;
		box-shadow: 0 0 3px 2px var(--color1);
	}
</style>
<input {placeholder} {value} on:input={event=>{
	if(delayer) clearTimeout(delayer)
	delayer = setTimeout(()=> dispatch('value', event.target.value), delay)
}}/>
