<script>
	import {Readability} from '@mozilla/readability'
	import html2text from 'html-to-text'
	import {forward} from './util/network'
	import Input from './util/input'
	import Follow from './util/follow'
	import Tts from './util/tts'
	import store from './util/store'
	const domParser = new DOMParser()

	let content = store('content', '')
	let index = store('index', 0)
	let length = store('length', 0)
	let voice = store('voice')
</script>
<style>
	main{
		display: flex;
		flex: 1 1 auto;
		flex-flow: column;
		align-items: stretch;
		max-width: 80vh;
		margin: auto;
	}
	main>*{
		flex: 1 1 auto;
	}
	#scroll{
		flex: 1 1 0;
		overflow-y: auto;
	}
</style>
<main>
	<Input placeholder='url' on:value={async ({detail: url})=>{
		const request = await forward(url)
		const text = await request.text()
		const dom = domParser.parseFromString(text, 'text/html')
		const readable = new Readability(dom) //sometimes this misses stuff but firefox works the same lmao
		const parsed = readable.parse()
		const converting = parsed.content.replace(/\r?\n/g, ' ')
		$content = html2text.convert(converting, {
			wordwrap: false,
			selectors: [
				{selector: 'a', options: {ignoreHref: true}},
				{selector: 'img', format: 'skip'}
			]
		})
	}}/>
	<div id='scroll'>
		<Follow text={$content} bind:index={$index} bind:length={$length}/>
	</div>
	<Tts text={$content} bind:index={$index} bind:length={$length}/>
</main>
